<div class="container text-center ">

  <%  if @booking %>
    <h1><strong>Here is your code</strong></h1>
    <p class="py-1 rounded", style="background-color: rgba(255,255,255,1); width: 280px; margin: 0 auto;"> <%= @svg.html_safe %></p>
    <h5 class="mt-4">Show this code at the location to receive your offer</h5>
    <br>

    <div>
      <% if @offer.end_time > DateTime.now  %>
          <% if @offer.end_time > DateTime.now &&  DateTime.now > @offer.start_time %>
            <p class="badge-offer badge-offer-show-book end-time-index countdown"  data-end-time="<%= @offer.end_time %>"></p>
          <% else @offer.start_time > DateTime.now  %>
            <p class="badge-offer badge-offer-show-book end-time-index"> <strong> Offer did not start yet. </strong></p>
          <% end %>
      <% else %>
            <p class="badge-expired badge-offer-show-book end-time-index"> <strong> Offer expired. </strong></p>
      <% end %>
    </div>

    <h1>Find your way to:</h1>
    <h5><%= @booking.offer.bar.name %></h5>
    <h5 id='dist-container' ></h5>
    <br>
    <div id="map"
      class="distance-calc"
      style="width: 100%; height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <br>

    <div class="button-offer-container">
      <%= link_to "Back", offers_path, class: "btn button-offer"%>
    </div>

    <br>
  <% else %>
    <h5>There is no booking yet.</h5>
  <% end %>

</div>
