<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-transparent navbar-mobile">
  <%= link_to "/", class: "navbar-brand" do %>
      <%= cl_image_tag 123456789,  crop: :fill %>
  <% end %>


      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "session-style" %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "session-style" %>
          </li>
        <% end %>
      </ul>
</div>





  <!-- Maybe not necessary on mobile. Also this way we can center the logo on top -->

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-transparent navbar-desktop">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= cl_image_tag 123456789,  crop: :fill %>
    <%end%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
            <%= link_to "Dashboard", "/dashboard", class: "nav-link" %>
            <%= link_to "My Offers", "/dashboard", class: "nav-link" if current_user.owner %>

          </li>
          <li class="nav-item">


          </li>
          <li class="nav-item dropdown">
            <%= cl_image_tag "image-removebg-preview_if8ep2", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My bookings", "#", class: "nav-link" %>
              <%= link_to "Add a bar", "/bars/new", class: "nav-link" if current_user.owner %>
              <!-- Bar owner -->
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
           </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
</div>
