<div class="container">
  <div class="explanation">
    <p> <%= cl_image_tag "21_tsyv1b",  crop: :fill, width: 80%, class: "image-center"%> </p>
    <p class="lead text text-center my-4">Choose between our free, silver and gold plan to get started.</p>
  </div>
  <br>
  <div class="explanation">
    <%= cl_image_tag "22_hlyxdm",  crop: :fill, width: 80%, class: "image-center"%>
    <p class="lead text text-center my-4">Upload an offer to attract more customers instantly. Anytime you like!</p>
  </div>
  <br>
  <div class="explanation">
    <%= cl_image_tag "e01xs89hmmaeylxhxxj50xfplw55",  crop: :fill, width: 80%, class: "image-center"%>
    <p class="lead text text-center my-4">Benefit from a stronger customer engagement and overall higher profits.</p>
    <%= cl_image_tag 123456789,  crop: :fill, width: 100, class: "home-logo"  %>
    <h5 class=" text-center my-4"><strong>Happy Hour, Every Hour!</strong></h5>
  </div>
  <%= link_to "Got it!", root_path, class: "btn button-offer", style: "margin: 0 auto; display: block" %>
</div>
