<div class="container">
  <div class="explanation">
    <%= cl_image_tag "11_ofrqcd",  crop: :fill, width: 80%, class: " image-center"%>
    <p class="lead text text-center my-4">There are already numerous available bars in your neighbourhood - just enter your location and let's go!</p>
  </div>
  <br>
  <div class="explanation">
    <%= cl_image_tag "12_tcjg8l",  crop: :fill, width: 80%, class: " image-center"%>
    <p class="lead text text-center my-4">Choose from a great diversity of attractive offers and find the favourite discount for you and your friends!</p>
  </div>
  <br>
  <div class="explanation">
    <%= cl_image_tag "13_sq3dvx",  crop: :fill, width: 80%, class: " image-center"%>
    <p class="lead text text-center my-4">Booking an offer is as simple as it can be. Just book it and receive the valid QR code to claim your discount.</p>
  </div>
  <br>
  <div class="explanation">
    <%= cl_image_tag "14_zlge2c",  crop: :fill, width: 80%, class: " image-center"%>
    <p class="lead text text-center my-4">Now nothing gets in your way anymore. Just enjoy the night out and have a great time.</p>
    <%= cl_image_tag 123456789,  crop: :fill, width: 100, class: "home-logo"  %>
    <h5 class=" text-center my-4"><strong>Happy Hour, Every Hour!</strong></h5>
  </div>
  <%= link_to "Got it!", root_path, class: "btn button-offer", style: "margin: 0 auto; display: block" %>

</div>

