<main role="main">
  <section class="jumbotron text-center">
    <!--<div class="container">-->
      <div class="content">
        <%= cl_image_tag "drawingdrinking",  crop: :fill, width: 400%>
        <h1 class="h1-homepage">Happy hour every hour!</h1>
        <p class="lead text">Find affordable drinks and nice bars near you!</p>
        <p>
          <form novalidate="novalidate" class="simple_form search" action="/offers?city=Barcelona" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
            <div class="search-form-control form-group">
              <%= form_tag offers_path, method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  #class: "form-control",
                  class: "form-control",
                  placeholder: "Enter your city"
                %>
              <% end %>
              <%= link_to "Explore", offers_path, class: "btn button-dark"%>
            </div>
          </form>
        </p>

        <%= link_to "Explore", offers_path, class: "btn button-dark"%>

      </div>
  </section>
  <!--<div class="container"> %>-->
    <h2 class="title-new-listings" style="padding:0px 15px;">Recent offers</h2>
    <div class="scrolling-wrapper col-12">
      <%@offers.each do |offer|%>
        <%=link_to offer_path(offer), class: "card-link card-offer col-12 col-md-6 col-lg-4 mt-4" do %>
              <div class="card-image-category" style="background-image: url('<%= cl_image_path offer.bar.photos.first.key, crop: :fill%>')">
                <p class="badge-offer end-time" id="countdown" data-end-time="<%= offer.end_time %>"></p>
                <i class="far fa-heart"></i>
              </div>
              <div class="card-desc">
                <h2><%=offer.description %></h2>
                <p id="countdown" class="end-time" data-end-time="<%= offer.end_time %>"></p>
                <p><%=offer.bar.name%></p>
              </div>
        <%end%>
      <%end%>
    </div>
  <!--</div>-->
</main>
