<main role="main">
  <section class="jumbotron text-center">
    <!--<div class="container">-->
      <div class="content">
        <%= cl_image_tag "drawingdrinking",  crop: :fill, width: 400, class: "image-homepage"%>
        <h1 class="h1-homepage">Happy hour every hour!</h1>
        <p class="lead text">Find affordable drinks and nice bars near you!</p>
        <p>
          <form novalidate="novalidate" class="simple_form search md-form active-purple active-purple-2 mb-3" action="/offers?city=Barcelona" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
            <div class="search-form-control form-group ">
              <%= form_tag offers_path, method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  #class: "form-control",
                  class: "form-control",
                  placeholder: "Enter your city"
                %>
              <% end %>
              <%= link_to "Explore", offers_path, class: "btn button-offer"%>
            </div>
          </form>
        </p>

      </div>
  </section>
  <!--<div class="container"> %>-->
    <h2 class="title-new-listings container text-center" style="padding:0px 15px;"><strong>Recent offers</strong></h2>
    <div class="scrolling-wrapper new-listings">
      <%@offers.each do |offer|%>
        <%=link_to offer_path(offer), class: "card-link card-offer col-12 mt-4" do %>
              <div class="card-image-category" style="background-image: url('<%= cl_image_path offer.bar.photos.first.key, crop: :fill%>')">
                <p class="badge-offer end-time" id="countdown" data-end-time="<%= offer.end_time %>"></p>
                <i class="far fa-heart"></i>
              </div>
              <div class="card-desc">
                <h2><%=offer.description %></h2>
                <p id="countdown" class="end-time" data-end-time="<%= offer.end_time %>"></p>
                <p><%=offer.bar.name%></p>
              </div>
        <%end%>
      <%end%>
    </div>
    <h2 class="title-new-listings container text-center" style="padding:0px 15px;"><strong>Staff picks</strong></h2>
    <div class="scrolling-wrapper new-listings">
      <%@offers[2,5].each do |offer|%>
        <%=link_to offer_path(offer), class: "card-link card-offer col-12 mt-4" do %>
              <div class="card-image-category" style="background-image: url('<%= cl_image_path offer.bar.photos.first.key, crop: :fill%>')">
                <p class="badge-offer end-time" id="countdown" data-end-time="<%= offer.end_time %>"></p>
                <i class="far fa-heart"></i>
              </div>
              <div class="card-desc">
                <h2><%=offer.description %></h2>
                <p id="countdown" class="end-time" data-end-time="<%= offer.end_time %>"></p>
                <p><%=offer.bar.name%></p>
              </div>
        <%end%>
      <%end%>
    </div>
    <h2 class="title-new-listings container text-center" style="padding:0px 15px;"><strong>Most popular</strong></h2>
    <div class="scrolling-wrapper new-listings">
      <%@offers[3,5].each do |offer|%>
        <%=link_to offer_path(offer), class: "card-link card-offer col-12 mt-4" do %>
              <div class="card-image-category" style="background-image: url('<%= cl_image_path offer.bar.photos.first.key, crop: :fill%>')">
                <p class="badge-offer end-time" id="countdown" data-end-time="<%= offer.end_time %>"></p>
                <i class="far fa-heart"></i>
              </div>
              <div class="card-desc">
                <h2><%=offer.description %></h2>
                <p id="countdown" class="end-time" data-end-time="<%= offer.end_time %>"></p>
                <p><%=offer.bar.name%></p>
              </div>
        <%end%>
      <%end%>
    </div>
    <br>
  <!--</div>-->
  <div class="container">
    <div class="explanation">
      <%= cl_image_tag "drawingdrinking",  crop: :fill, width: 400, class: "image-homepage"%>
      <p class="lead text text-center my-4">There are already numerous available bars in your neighbourhood - just enter your location and let's go!</p>
    </div>
    <div class="explanation">
      <%= cl_image_tag "drawingdrinking",  crop: :fill, width: 400, class: "image-homepage"%>
      <p class="lead text text-center my-4">Choose from a great diversity of attractive offers and find the favourite discount for you and your friends!</p>
    </div>
    <div class="explanation">
      <%= cl_image_tag "drawingdrinking",  crop: :fill, width: 400, class: "image-homepage"%>
      <p class="lead text text-center my-4">Booking an offer is as simple as it can be. Just book it and receive the valid QR code to claim your discount.</p>
    </div>
    <div class="explanation">
      <%= cl_image_tag "drawingdrinking",  crop: :fill, width: 400, class: "image-homepage"%>
      <p class="lead text text-center my-4">Now nothing gets in your way anymore. Just enjoy the night out and have a great time.</p>
      <%= cl_image_tag 123456789,  crop: :fill, width: 100, class: "home-logo"  %>
      <h5 class=" text-center my-4"><strong>Happy Hour, Every Hour!</strong></h5>
    </div>
  </div>
</main>
