
<div class="container">
  <h1 class="title-offers mb-4"><strong>Choose your subscription plan:</strong></h1>
    <div class ="row">

      <div class="card-offer card-subscription <%= "active-sub" if current_user.premium == 1 %>">
        <div class="circle-white"></div>
          <h2><%= @subscriptions[0].name %></h2>
          <p><%=@subscriptions[0].description%></p>
        <% if current_user.premium == 1 %>
          <%=link_to "Active", "/orders?subscription_id=#{@subscriptions[0].id}", method: :post, class: "btn button-dark-active", style: "opacity: 0.5" %>
        <% else %>
          <%=link_to "Change plan", "/orders?subscription_id=#{@subscriptions[0].id}", method: :post, class: "btn button-dark" %>
        <% end %>
      </div>
      <div class="card-offer card-subscription <%= "active-sub" if current_user.premium == 2 %>">
        <div class="circle-silver"></div>
          <h2><%= @subscriptions[1].name %></h2>
          <p><%=@subscriptions[1].description%></p>
          <% if current_user.premium == 2 %>
            <%=link_to "Active", "/orders?subscription_id=#{@subscriptions[1].id}", method: :post, class: "btn button-dark-active", style: "opacity: 0.5" %>
          <% else %>
            <%=link_to "Change plan", "/orders?subscription_id=#{@subscriptions[1].id}", method: :post, class: "btn button-dark" %>
          <% end %>
      </div>
      <div class="card-offer card-subscription <%= "active-sub" if current_user.premium == 3 %>">
        <div class="circle-gold"></div>
          <h2><%= @subscriptions[2].name %></h2>
          <p><%=@subscriptions[2].description%></p>
          <% if current_user.premium == 3 %>
            <%=link_to "Active", "/orders?subscription_id=#{@subscriptions[2].id}", method: :post, class: "btn button-dark-active", style: "opacity: 0.5" %>
          <% else %>
            <%=link_to "Change plan", "/orders?subscription_id=#{@subscriptions[2].id}", method: :post, class: "btn button-dark" %>
          <% end %>
      </div>

    </div>


</div>
