<div class="container text-center">
      <h2>Checkout summary</h2>
      <br>
      <div class="card-offer card-subscription">
          <% if @premium == 1 %>
            <div class="circle-white"></div>
          <% elsif @premium == 2 %>
            <div class="circle-silver"></div>
           <% else %>
            <div class="circle-gold"></div>
           <% end %>
          <% if @premium == 1 %>
            <h4><%= @subscriptions[0].name %></h4>
            <p><%=@subscriptions[0].description%></p>

          <% elsif @premium == 2 %>

            <h4><%= @subscriptions[1].name %></h4>
            <p><%= @subscriptions[1].description%></p>

          <% else %>

            <h4><%= @subscriptions[2].name %></h4>
            <p><%=@subscriptions[2].description%></p>

          <% end %>
      </div>
      <br>
      <h4>You want to switch to our <strong><%= @order.subscription.name %></strong> level?</h4>
      <br>
      <h4>Price: <strong><%= humanized_money_with_symbol @order.amount %></strong></h4>
      <button id="pay" class="btn button-offer">Confirm</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
</div>
