<div class="container">
  <h6 class="title-offers"><strong>Offers matching your search:</strong></h6>
    <div class ="row">
      <%@offers.each do |offer|%>
        <%=link_to offer_path(offer), class: "card-link col-12 col-md-6 col-lg-4 mt-4" do %>
            <div class="card-offer">
              <div class="card-image-category" style="background-image: linear-gradient(to right, rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20)), url('<%= cl_image_path offer.bar.photos.first.key, crop: :fill%>')">

                <% if offer.end_time > DateTime.now  %>
            <% if offer.end_time > DateTime.now &&  DateTime.now > offer.start_time %>
              <p class="badge-offer badge-offer-show end-time-index countdown"  data-end-time="<%= @offer.end_time %>"></p>
            <% else offer.start_time > DateTime.now  %>
              <p class="badge-offer badge-offer-show end-time-index"> <strong> Offer did not start yet. </strong></p>
            <% end %>
          <% else %>
            <p class="badge-expired badge-offer-show end-time-index"> <strong> Offer expired. </strong></p>
          <% end %>

              </div>
              <div class="card-desc">
                <h2><i class="fas fa-tag"></i> <%= offer.description.truncate(15) %></h2>
                <div class="right">
                  <p class="p-cards">@ <%= offer.bar.name.truncate(15) %></p>
                </div>
              </div>
            </div>
        <%end%>
      <%end%>
    </div>
    <%=link_to "Show map", map_path(params[:id]), class:"btn button-map"%>
</div>
