<div class="container">
  <h1 class="title-offers">All the available offers ???</h1>
    <div class ="row">
      <%@offers.each do |offer|%>
        <%=link_to offer_path(offer), class: "card-link col-12 col-md-6 col-lg-4 mt-4" do %>
            <div class="card-offer">
              <div class="card-image-category" style="background-image: url('<%= cl_image_path offer.bar.photos.first.key, crop: :fill%>')">
                <p class="badge-offer end-time" id="countdown" data-end-time="<%= offer.end_time %>"></p>
                <i class="far fa-heart"></i>
              </div>
              <div class="card-desc">
                <h2><%= offer.bar.name %></h2>
                <p id="countdown" class="end-time" data-end-time="<%= offer.end_time %>"></p> 
                <p><%=offer.description%></p>            
              </div>
            </div>
        <%end%>
      <%end%>
    </div>
</div>
