<div class="top_container">
</div>
<div class="container text-center">
  <h2>Upload a new offer:</h2>
  <div class="form-wrapper">
    <%= simple_form_for([@bar, @offer]) do |f| %>
    <%= f.input :description %>
    <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
    <div class="button-centered"><%= f.submit class: 'btn button-dark' %></div>
    <% end %>
  </div>
</div>


