<div class="top_container">
</div>
<div class="container">
  <h2>Upload a new offer:</h2>
  <div class="form-inputs">
    <%= simple_form_for([@bar, @offer]) do |f| %>
    <%= f.input :description %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <div class="button-centered"><%= f.submit class: 'btn button-dark' %></div>
    <% end %>
  </div>
</div>


