<div class="container">

  <div>
      <h2><%= @offer.description %></h2>
      <br>
      <p><%= @offer.bar.name %></p>
      <br>
      <p><%= @offer.start_time %></p>
      <p><%= @offer.expired %></p>

  </div>
  <%= link_to 'Delete', offer_path(@offer), method: :delete %>
  <%= link_to "Edit your offer", edit_offer_path %>
  <%= link_to "BOOK!", "/offers/#{@offer.id}/bookings", method: :post %>

</div>




<!--
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>"></div>
     <br>
<div>
<%#= link_to "Back", bars_path, class: "btn button-primary"%>
</div>
 -->
