
<div class="container">
  <h1 class="text-center my-5"> <strong>Want more?</strong></h1>
  <%= link_to "Go Premium", subscriptions_path, class: "btn btn-lg btn-block button-subscription " if current_user.owner%>
  <h3 class="text-center">Your dashboard</h3>
  <br>
  <h5>All bookings</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Bar name</th>
        <th scope="col">Email</th>
        <th scope="col">Offer expired?</th>
      </tr>
    </thead>
    <tbody>
      <%@bookings.order("created_at desc").each do |booking|%>
        <tr>
        <th scope="row"><%= booking.id%></th>
        <td><%= booking.offer.bar.name %></td>
        <td><%= booking.user.email%></td>
        <td><%=booking.offer.expired%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  Total orders: <%=@bookings.last.id%>
</div>
