
<div class="container">
  <% if current_user %>

      <% if @sweetalert %>
        <div class="sweetalert"></div>
      <% end %>

    <% if current_user.owner %>
      <h1 class="text-center my-4"><strong>Want more?</strong></h1>
      <%= link_to "Get Premium", subscriptions_path, class: "btn  button-offer", style: "margin: 0 auto; display: block"   %>
      <h3 class="text-center mt-4"><strong>Insights</strong></h3>
      <br>
      <div class="stats">
        <div class="total-orders text-center mb-2">
          <p>Number of offers: </p>
          <h4><strong><%=current_user.offers.count%></strong></h4>
        </div>
        <div class="total-orders text-center mb-2">
          <p>Booked codes: </p>
          <h4><strong>15</strong></h4>
        </div>
      </div>
      <div class="stats mt-4">
        <div class="total-orders text-center mb-2">
          <p>Current subscription: </p>
          <% if current_user.premium == 1 %>
            <h4><strong>Free </strong></h4>
          <% elsif current_user.premium == 2 %>
            <h4><strong>Silver </strong></h4>
          <% else %>
            <h4><strong>Gold </strong></h4>
          <% end %>
        </div>
        <div class="total-orders text-centermb-2">
          <p>Additional EUR profit: </p>
          <h4><strong>531.60</strong></h4>
        </div>
      </div>


      <h3 class="text-center mt-5"><strong>Your bars</strong></h3>
      <br>

      <div class ="row">
        <%@bars.each do |bar|%>
          <%=link_to bar_path(bar), class: "card-link col-12 col-md-6 col-lg-4 mt-4" do %>
              <div class="card-offer">
                <div class="card-image-category" style="background-image: linear-gradient(to right, rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.20)), url('<%= cl_image_path bar.photos.first.key, crop: :fill%>')">
                </div>
                <div class="card-desc">
                  <div class="right">
                    <p class="p-cards"><%= bar.name %></p>
                  </div>
                </div>
              </div>
          <%end%>
        <%end%>
      </div>







    <% else %>

      <h3 class="text-center mt-5"><strong>Insights</strong></h3>
      <br>
      <%  if @bookings.count > 0 %>
        <div class="stats">
          <div class="total-orders text-center mb-2">
            <p>Total codes: </p>
            <h4><strong><%=@bookings.last.id%></strong></h4>
          </div>
          <div class="total-orders text-center mb-2">
            <p>Nights out: </p>
            <h4><strong>15</strong></h4>
          </div>
        </div>
        <div class="stats">
          <div class="total-orders text-center mb-2">
            <p>EUR saved: </p>
            <h4><strong>31.60</strong></h4>
          </div>
        </div>
        <h3 class="text-center mt-5"><strong>Your bookings</strong></h3>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Bar</th>
              <th scope="col">Offer</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <%@bookings.order("created_at desc").each do |booking|%>
              <tr>
              <td><%= booking.offer.bar.name %></td>
              <td><%= booking.offer.description%></td>
              <% if booking.offer.expired %>
                <td>expired</td>
              <% else %>
                <td>active</td>
              <% end %>
              </tr>
            <%end%>
          </tbody>
        </table>

      <% else %>

        <h4 class="text-center">There are no bookings yet.</h4>
        <br>
        <div class="stats">
          <div class="total-orders text-center mb-2">
            <p>Total codes: </p>
            <h4><strong>0</strong></h4>
          </div>
          <div class="total-orders text-center mb-2">
            <p>Nights out: </p>
            <h4><strong>0</strong></h4>
          </div>
        </div>
        <div class="stats">
          <div class="total-orders text-center mb-2">
            <p>EUR saved: </p>
            <h4><strong>0</strong></h4>
          </div>
        </div>

      <% end %>

    <% end %>

  <% end %>

</div>
